 @model ProductImage
@{
    ViewData["Title"] = "CreateColorToProduct";
}

<div class="container">
    <form asp-area="admin" asp-controller="Products" asp-action="CreateColorToProduct" method="post" enctype="multipart/form-data">
        <div class="itemContainer">
            <div class="row ColorImageItem">

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="[0].Image" class="form-label">Image</label>
                        <input type="file"  class="form-control" name="[0].Image" multiple>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-success" id="addNewItem">+</button>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>

    </form>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $("#addNewItem").click(function () {

            let ColorImageItems = $(".ColorImageItem");
            let firstItem = $(ColorImageItems[0].cloneNode(true));
            let formControls = firstItem.find(".form-control");

            //formControls[0].setAttribute("name", `[${ColorImageItems.length}].ColorId`);
            formControls[0].setAttribute("name", `[${ColorImageItems.length}].Image`);
            formControls[0].value = "";

            let itemContainer = $(".itemContainer");
            itemContainer.append(firstItem);
        });

        //$(".addNewItem").click(function () {

        //    let index = $(this).data("index");
        //    let ColorImageItem = $(".ColorImageItem");
        //    let SizeToColorItems = $(".SizeToColorItem");

        //    for (var i = 0; i < ColorImageItem.length; i++) {
        //        if (ColorImageItem[i].dataset.index == index) {
        //            let SizeToColorContainer = $(ColorImageItem[i]).find(".SizeToColorContainer");
        //            let SizeToColorItem = ($(ColorImageItem[i]).find(".SizeToColorItem"))[0].cloneNode(true);

        //            let formControls = $(SizeToColorItem).find(".form-control");

        //            formControls[0].setAttribute("name", `[${SizeToColorItems.length}].SizeId`);
        //            formControls[1].setAttribute("name", `[${SizeToColorItems.length}].Price`);
        //            formControls[2].setAttribute("name", `[${SizeToColorItems.length}].Quantity`);
        //            formControls[3].setAttribute("name", `[${SizeToColorItems.length}].ColorId`);

        //            //console.log(SizeToColorItem);
        //            //console.log(formControls);
        //            //console.log(SizeToColorItems);
        //            //console.log(SizeToColorItems.length);

        //            SizeToColorContainer.append(SizeToColorItem);
        //        }
        //    }
        //});

    })
    



</script>